[Desktop Entry]
Name=Manual Tiling WM
Comment=Default Float Single Mode (Meta Key + Mouse Left), Manual Tiling Grid Layout (Meta Key + Mouse Right). Tile To Corner (Horizontal / Vertical 1/8 1/6 1/4 1/2), Top / Center / Bottom, Left / Right, Screen Edge Quick Tile.
Icon=preferences-system-windows
Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Name=Manual_Tiling_WM
X-KDE-PluginInfo-Author=Critical Soft
X-KDE-PluginInfo-Website=https://github.com/criticalsoft
X-KDE-PluginInfo-Version=1.5.9
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=CC
X-KDE-ServiceTypes=KWin/Script,KCModule

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=Manual_Tiling_WM
X-KDE-ParentComponents=Manual_Tiling_WM
